.Button {
    margin: 20px;
    margin-bottom: 80px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 2px;
    background-color: #fff;
    font-weight: 600;
    border: 5px solid #1a508b;
    cursor: pointer;
    color: #1a508b;
}

.Button:diabled {
    color: #ccc;
    cursor: not-allowed;
}

.Button:hover {
    background-color: #c1a1d3;
    color: #fff;
    border: 5px solid #000000;
}